* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(images/MTN.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
    margin-top: -10rem;
    color: rgb(235, 233, 233);
}

.countdown-container {
    display: flex;
    text-align: center;
}

.big-text {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 2rem;
    color: white;
}

.countdown-container span {
    text-align: center;
    font-size: 1.3rem;
    color: rgb(235, 233, 233);
}